/build/lib/AliasedGroup.py
/build/lib/powercfg_commands.py
/build/lib/WindowsPowerplanSetter.py
/WindowsPowerplanSetter.egg-info/dependency_links.txt
/WindowsPowerplanSetter.egg-info/entry_points.txt
/WindowsPowerplanSetter.egg-info/PKG-INFO
/WindowsPowerplanSetter.egg-info/requires.txt
/WindowsPowerplanSetter.egg-info/SOURCES.txt
/WindowsPowerplanSetter.egg-info/top_level.txt
